@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Geist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gradient: radial-gradient(circle at 50% -20%, #1e3a8a 0%, #0a0a0a 70%);
  --primary-color: #2563eb;
  --accent-color: #0891b2;
  --background-color: #0a0a0a;
  --neutral-200: oklch(0.922 0 0);
  --neutral-500: oklch(0.632 0 0);
  --neutral-800: oklch(0.269 0 0);
  --neutral-900: oklch(0.205 0 0);
}

body {
  color: white;
  font-family: Geist;
  background-color: var(--background-color);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0a0a0a5f;

  backdrop-filter: blur(12px);
  padding: 1.5rem;
  border-bottom: 2px solid var(--neutral-800);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.introduction {
  background: var(--gradient);
  padding: 16rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--neutral-800);
}

.introduction-container {
  width: min(40%, 500px);
}

.introduction-content {
  margin-bottom: 2rem;
}

.title {
  font-size: 3.75rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.title strong {
  background-image: linear-gradient(to right, #2563eb, #0891b2);
  /* azul → ciano */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

.subtitle {
  color: var(--neutral-500);
}

a {
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
  padding: 0.625rem 1.5rem;
}

.intro-link {
  display: flex;
  gap: 1rem;
}

.primary {
  background-color: var(--primary-color);
  border: 1px solid var(--neutral-800);
}

.secondary {
  background-color: var(--neutral-900);
  border: 1px solid var(--neutral-800);
}

